.catalogue_wrapper{
    margin: 0;
    padding: 0;
    background: #F6F6F6;
    display: grid;
    justify-items: center;
    padding: 0 0 50px 0;
}
.recipe_container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px 0;
}
.recipe_component{
    width: 406px;
    height: 249px;
    border-radius: 3%;
    justify-content: center;
    box-shadow: 0 0 5px 2px rgb(77, 69, 69);
}
.recipe_component.micro{
    background: url(../img/recipeBackgroundMicro.png);
    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: 1s;
}
.recipe_component.straw{
    background: url(../img/recipeBackgroundStraw.png);
    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: 1s;
}
.recipe_component.vitro{
    background: url(../img/recipeBackgroundVitra.png);
    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: 1s;
}

.recipe_component.micro:hover{
    transform: scale(1.05);
}
.recipe_component.straw:hover{
    transform: scale(1.05);
}
.recipe_component.vitro:hover{
    transform: scale(1.05);
}
.recipe_component_text{
    font-family: 'Roboto-Medium';
    color: #000;
    font-size: 28px;
    padding: 25px 40px;
}
.recipe_container a{
    text-decoration: none;
}

@media (max-width: 1230px) {
    .recipe_container{
        flex-direction: column;
    }
    .recipe_component{
        width: 100%;
        height: 250px;
        margin: 10px 0;
    }
    .recipe_component_text{
        font-size: 21px;
    }
}
@media (max-width: 750px) {
    .recipe_container{
        flex-direction: column;
        align-items: center;
    }
    .recipe_component{
        width: 300px;
        height: 100px;
        margin: 10px 0;
    }
    .recipe_component_text{
        font-size: 14px;
    }
    .recipe_component.micro{
        background-position: 50% 50%;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .recipe_component.straw{
        background-position: 50% 50%;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .recipe_component.vitro{
        background-position: 50% 50%;
        background-size: 100%;
        background-repeat: no-repeat;
    }
}


.catalogue_title{
    font-family: 'Roboto-Regular';
    font-size: 30px;
    font-weight: bold;
    color:#000000;
    text-align: center;
    padding: 50px 0;
}
.catalogue_micro_container{
    width: 85%;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 40px;
}
.catalogue_micro{
    width: 266px;
    height: 322px;
    background-color: #FFFFFF;
	border-radius: 4%;
}
.catalogue_micro_img{
    display: flex;
    justify-content: center;
}
.catalogue_micro_img img{
    width: 90%;
    margin: 15px 0;

}
.catalogue_micro_text{
    display: flex;
    justify-content: space-around;
}
.catalogue_micro_name{
    font-family: 'Roboto-Regular';
    color: #333339;
    font-size: 18px;
    font-weight: 600;

}
.catalogue_micro_price{
    font-family: 'Roboto-Regular';
    color: #333339;
    font-size: 14px;
    margin-top: 4px;
}
.catalogue_micro_button{
    max-width: 105px;
    height: 38px;
    background-image: url(../img/button_bucket.png);
    background-size: cover;
    margin: 10px 0 0 15px;

}

@media (max-width:1320px) {
    .catalogue_micro_container{
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 20px;
    }
}
@media (max-width:975px) {
    .catalogue_title{
        font-size: 17px;
        padding: 25px 0;
    }
    .catalogue_micro_container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 17px;
    }
    .catalogue_micro{
        width: 145px;
        height: 202px;
    }
    .catalogue_micro_img img{
        margin: 10px 0;
    }
    .catalogue_micro_text{
        flex-direction: column;
        margin-left: 10px;
    }
    .catalogue_micro_name{
        font-size: 12px;
    }
    .catalogue_micro_price{
        font-size: 10px;
        margin-top: 2px;
    }
    .catalogue_micro_button{
        max-width: 64px;
        height: 23px;
        margin: 10px 0 0 8px;
    
    }
    
}

@media (max-width:720px) {
    .catalogue_micro_container{
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 17px;
    }
}
@media (max-width:550px) {
    .catalogue_micro_container{
        grid-template-columns: 1fr 1fr;
        row-gap: 17px;
    }
}