@font-face{
	font-family: 'Roboto-Black';
 	src: url(../sh/Roboto-Black.woff);
}
@font-face{
	font-family: 'Roboto-Regular';
 	src: url(../sh/Roboto-Regular.woff);
}
@font-face{
	font-family: 'Roboto-Bold';
 	src: url(../sh/Roboto-Bold.woff);
}
@font-face{
	font-family: 'Roboto-Light.woff';
 	src: url(../sh/Roboto-Light.woff);
}
@font-face{
	font-family: 'Roboto-Medium';
 	src: url(../sh/Roboto-Medium.woff);
}

@font-face{
	font-family: 'ProximaNova-Xbold';
 	src: url(../sh/ProximaNova-Xbold.otf);
}
@font-face{
	font-family: 'montserrat900';
 	src: url(../sh/montserrat-v15-latin_cyrillic-900.woff);
}
@font-face{
	font-family: 'montserrat700';
 	src: url(../sh/montserrat-v15-latin_cyrillic-700.woff);
}
@font-face{
	font-family: 'montserrat600';
 	src: url(../sh/montserrat-v15-latin_cyrillic-600.woff);
}