<link href="css/brend.css" rel="stylesheet">

<div class="brend">
<div class="brend_preloder"></div>
    <div class="slider">
        <div class="prev-slide">
            <div></div>
        </div>
        <div class="next-slide">
            <div></div>
        </div>
        <div class="slide-list">
            <div class="slide-wrap">
                <div class="slide-item">
                    <a  class="brend_img"></a>
                </div>
                <div class="slide-item">
                    <a  class="brend_img2"></a>
                </div>
                <div class="slide-item">
                    <a  class="brend_img4"></a>
                </div>
                <div class="slide-item">
                   <a  class="brend_img3"></a>    
                </div>
                <div class="slide-item">
                    <a  class="brend_img"></a>
                </div>
            </div>
            <div class="clear"></div>
        </div>

    </div>
</div>