
<link href="css/footer.css" rel="stylesheet">

<div class="footer">
    <div class="footer_title">ГРИН ФЕРМА</div>
    <div class="footer_menu">
        <a class="footer_component " href="./index.html">Главная</a>
        <a class="footer_component" href="./catalogue.html">Каталог</a>
        <a class="footer_component" href="./micro.html">О микрозелени</a>
        <a class="footer_component" href="./recipe.html">Рецепты</a>
        <a class="footer_component" href="./review.html">Отзывы</a>
        <a class="footer_component" href="./contacts.html">Контакты</a>
    </div>
    <div class="footer_delimiter"></div>
    <div class="footer_social_network">
        <a class="footer_social_link" href="#">
            <div class="footer_social_link_network inst">
            </div>
        </a>
        <a class="footer_social_link" href="#">
            <div class="footer_social_link_network vk">
            </div>
        </a>
    </div>
</div>